.table {
  * {
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  table {
    border-collapse: collapse;
  }

  th {
    background: var(--ad-color-gray-4);
    font-size: var(--adm-font-size-6);
    font-weight: normal;
  }

  tr {
    height: 30px;
    font-size: var(--adm-font-size-5);

    &:active {
      background: var(--ad-color-gray-3);
    }
  }
}